{% extends 'base.html.twig' %}

{% block title %}Réponses{% endblock %}

{% block body %}
{% if answers is not empty %}
    <a class="btn btn-primary" href="{{path('answer_new')}}">Create answer</a>

    <br><br>

    <table class="table">
        <thead>
            <tr>
                <td>Title</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for answer in answers %}
                <tr>
                    <td>{{answer.title}}</td>
                    <td><a class="btn btn-primary" href="{{path('answer_edit', {id:answer.id})}}">Edit</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Il n'y a pas de réponse <a class="btn btn-primary" href="{{path('answer_new')}}">Create answer</a></p>
{% endif %}
{% endblock %}
