{% extends 'base.html.twig' %}

{% block title %}Questions{% endblock %}

{% block body %}

{% if questions is not empty %}
    <a class="btn btn-primary" href="{{path('question_new')}}">Create Question</a>

    <br><br>
    
    <table class="table">
        <thead>
            <tr>
                <td>Title</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                <tr>
                    <td>{{question.title}}</td>
                    <td><a class="btn btn-primary" href="{{path('question_edit', {id:question.id})}}">Edit</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Il n'y a pas de question <a class="btn btn-primary" href="{{path('question_new')}}">Create Question</a></p>
{% endif %}

{% endblock %}
